body, html 
{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-inline
{
    height: auto;
    background-color: rgba(256,256,256,.2);
    overflow: auto;
}


#barraRicerca
{
    border-radius: 14px;
    width: 15%;
    transition: width 0.4s ease-in-out;
    margin: 10px 10px;
    outline: none;
}
#barraRicerca:focus
{
    width: 25%;
    background-color: #ddd;
}

.radio
{
    display: inline-block;
}

.custom-select
{
    display: inline-block;
    margin: 0 10px;
}

#creaAnnuncio
{
    display: inline-block;
    float: right;
    width: 100px;
    margin: 10px 10px;
    padding:5px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

#creaAnnuncio:hover 
{
    background-color: #DCDCDC;
}

#cerca
{
    display: inline-block;
}