body, html 
{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#side
{
    width: 10vw;
    height: 96vh;
    padding: 2vh;
    background-color: rgba(256,256,256,.2);
}

#avatar 
{
    display: block;
    border-radius: 50%;
    width: 80%;
    margin: 0 auto;
}

.button 
{
    display: block;
    width: 80%;
    margin: 20% auto;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.button:hover 
{
    background-color: #f1f1f1;
}