#side {
	float: left;
	padding: 2%;
}

#avatar {
	display: block;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 2px auto 0;
}

.button {
	background-color: #ddd;
	border: none;
	color: black;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0px auto 0;
	cursor: pointer;
	border-radius: 16px;
	font-size: 14px;
	width: 150px;
}

.button:hover {
	background-color: #f1f1f1;
}