body, html 
{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

* 
{
    box-sizing: border-box;
}

#side 
{
    float: left;
    padding: 2%;
}

#avatar 
{
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 2px auto 0;
}

.button 
{
    display: block;
    width: 150px;
    margin: 0 auto;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.button:hover 
{
    background-color: #f1f1f1;
}