body
{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.contna{
    text-align: center;
}
.sfdbna {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.sfdbna:hover {
	background-color: #DCDCDC;
}

.inputtitle
{
    display: block;
    width: 50%;
    padding: 10px;
    margin: 0 auto 20px;
    border: none;
    border-radius: 40px;
    background: #f1f1f1;
    text-align: center;
    outline: none;
}
.txtna{
  padding:10px;
  margin: 2%;
  border-style: solid;
  width: 75%;
  height: 40%;
  min-height: 150px;
  overflow-y: auto;
  border-radius: 20px;
  border: none;
  resize: none;
  outline:none;
}

.titlena{
  text-align: center;
  padding:20px;
  margin:0;
}
