body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.title
{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.faq
{
    text-align: center;
    padding: 20px;
}

.question
{
    color:black;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
.answer
{
    width: 70%;
    margin: 0 auto;
    font-weight: bold;
}
.container
{
    padding: 2% 10%;
}