body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

.title
{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 0px;
    text-shadow: 2px 2px 4px black;
}
.faq
{
    text-align: center;
    padding: 10px;
}

.question
{
    color:black;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin: 20px auto;
    font-size: 25px;
}
.answer
{
    width: 70%;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    font-size: 20px;
}
.container
{
    width: 80%;
    margin: 0 auto;
    float: right;
    margin-top: 2%;
}

#barraleft
{
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
}