body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
button, input 
{
    outline: none;
}

#logo 
{
    width: 20%;
    margin: 2% auto;
}
#logo img
{
    margin: 0;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
}

.container 
{
    width: 40%;
    margin: 20px auto;
}

input[type=text], input[type=password]
{
    display: block;
    width: 40%;
    padding: 10px;
    margin: 0 auto 20px;
    border: none;
    border-radius: 40px;
    background: #fff;
    text-align: center;
    outline: none;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus
{
    width: 60%;
    background-color: #ddd;
}

/* Set a style for the submit button */
.btn 
{
    display: block;
    width: 75px;
    margin: 0 auto;
    padding:10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
}

.btn:hover 
{
    background-color: #DCDCDC;
}

.btnReg 
{
    display: block;
    width: 100px;
    margin: 10px auto;
    border: none;
    background-color: transparent;
    outline: none;
}

.btnReg:hover 
{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
