body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-attachment: fixed;
}
    
h1 
{
    font-size: 15px;
    color: white;
    margin: 10px;
}

.tit
{
   width: 30%;
}

#avatarProf
{
    border-radius: 50%;
    height:20%;
    width: 20%;
    margin: 0 auto;
}


#Utenteinfo
{
   margin: 2px;
   color: white;
   text-align: center; 
}

#textarea
{
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: none;
    resize: none;
    outline:none;
    background-color: #fff;
}
#nomecognome{
    margin: 2px;
    text-align: center;
}    
 .utentetxt
{   
    float: right;
    display: inline-block;
    width: 60%;
    padding: 2% 10%;
    margin: 0 auto;
    text-align: center;
}
.txtpresent
{
    
    margin: 2%;
    border-style: solid;
    height: 50%;
    min-height: 250px;
    overflow-y: auto;
    
}
#visFeed
{
    display: block;
    width: 150px;
    margin: 0 auto;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

#visFeed:hover 
{
    background-color: #DCDCDC;
}
        
#modPro
{
    display: block;
    width: 150px;
    margin: 0 auto;
    padding:10px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}
#modPro:hover
{
    background-color: #DCDCDC;
}
    
.star-rating
{
    direction: rtl;
    display: inline-block;
    padding: 20px;
    margin-top: 32px;
    float: left;
    position: absolute;
}

.star-rating input[type=radio] 
{
    display: none
}

.star-rating label 
{
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label 
{
    color: #f2b600
}

.lw { font-size: 60px; }

#barraleft
{
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
}
