body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-image: url("IMAGES/bg-reg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
button, input 
{
    outline: none;
}

#barraleft
{
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
}

.container
{
    float: right;
    display: inline-block;
    width: 60%;
    padding: 2% 10%;
    margin: 0 auto;
    text-align: center;
}

.avatarProf
{
    border-radius: 7000px;
    height:20%;
    width: 20%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
}

.fieldset
{
    padding: 20px;
    border-radius: 40px;
    color: white;
    border: solid rgba(256,256,256,.5);;
}

.legend
{
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-shadow: 2px 2px 4px black;
}

#nomecognome, #Utenteinfo
{
    padding: 0;
    margin: 0;
}

#textarea
{
    margin: 10px auto;
    width: 94%;
    padding: 2% 3%;
    height: 200px;
    border-radius: 20px;
    border: none;
    resize: none;
    outline:none;
    background-color: #fff;
}

#textarea:focus, #textarea:hover
{
    background-color: #f1f1f1;
}

#feedButton
{
    width: 40%;
    display: block;
    margin: 0 auto;
    padding:10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
}

#feedButton:hover{
    background-color: #DCDCDC;
}

.tit
{
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px 0 ;
    margin: 0 auto;
    width: 15%;
    text-shadow: 2px 2px 4px black;
}

.star-rating [type="radio"]
{
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}
